@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login-box{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
}

.Login-box h2{
    text-align: center;
    margin-bottom: 15px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 18px;
    margin-bottom: 5px;
}

form input{
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form button{
    font-size: 18px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

form button:hover{
    background-color: black;
}

